<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="/stylesheets/login_sucess.css" />

    <title>Document</title>
</head>


    
        <div class="container" style="margin: top 50px;">
            <div class="row">
                <p class="text-end"> <a class="btn btn-danger" href="/admin/login_sucess/logout"> Cerrar Sesión</a><i class="bi bi-box-arrow-in-right"></i></p>
            </div>
        </div>



<body>
<form action="/admin/login_sucess/agregar" method="post">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombres" name="nombre">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellidos" name="apellido">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="mail">
</div>


<div class="container" style="margin: top 50px;">
    <div class="row">
       <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</div>

</form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}


</body>
</html>